
{% extends "base.html" %}

{% block title_sidebar %}
<h2>Debtswise<br> Register Page</h2>
<p>Register here to access.</p>
{% endblock %}
{% block content %}
<div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                        {{ form.username.label_tag }}
                        <br>
                        {{ form.username }}                     
                  </div>
                  <div class="form-group">
                        Email
                        <br>
                        {{ form.email }}                     
                  </div>
                  <div class="form-group">
                     {{ form.password1.label_tag }}
                     <br>
                     {{ form.password1 }}
                  </div>
                  <div class="form-group">
                        {{ form.password2.label_tag }}
                        <br>
                        {{ form.password2 }}
                  </div>
                  {{ form.errors }}
                  <button type="submit" class="btn btn-black">Регистрация</button>
   
               </form>
               
               </form>
            </div>
         </div>
         
</div>
      
{% endblock %}
</body>
</html>
